<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <springProperty name="SERVICE_NAME" source="spring.application.name" defaultValue="unknown"/>

    <appender name="TEST_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%clr(%d{HH:mm:ss.SSS}){faint} %clr(%-5level) %clr(%logger{36}){cyan} %clr([%X{correlationId}]){magenta} %msg %clr(%kvp){bright_black}%n%ex</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="TEST_CONSOLE"/>
    </root>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.orm.jdbc.error" level="ERROR"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.testcontainers" level="WARN"/>
    <logger name="org.apache.http.impl.client.DefaultHttpClient" level="WARN"/>
    <logger name="com.jcondotta.banking.recipients.infrastructure.adapters.input.rest.common.filter.CorrelationFilter"
            level="OFF"/>
    <logger name="com.jcondotta" level="INFO"/>

</configuration>
