<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="clr"
                    class="org.springframework.boot.logging.logback.ColorConverter"/>

    <springProperty name="SERVICE_NAME" source="spring.application.name" defaultValue="unknown"/>
    <springProperty name="SERVICE_VERSION" source="spring.application.version" defaultValue="unknown"/>
    <springProperty name="DATA_PREPPER_URL" source="management.data-prepper.logging.url"
                    defaultValue="http://localhost:2021/log/ingest/"/>

    <springProfile name="local">
        <appender name="LOCAL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%clr(%d{HH:mm:ss.SSS}){faint} %clr(%-5level) %clr(%logger{36}){cyan} %clr([%X{correlationId}]){magenta} %msg %clr(%kvp){bright_black}%n</pattern>
            </encoder>
        </appender>

        <appender name="DATA_PREPPER_HTTP" class="de.idealo.whitelabels.logback.HttpAppender">
            <httpClient class="de.idealo.whitelabels.logback.HttpClient">
                <destination>${DATA_PREPPER_URL}</destination>
            </httpClient>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <prefix class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="ch.qos.logback.classic.PatternLayout">
                        <pattern>[</pattern>
                    </layout>
                </prefix>
                <suffix class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="ch.qos.logback.classic.PatternLayout">
                        <pattern>]</pattern>
                    </layout>
                </suffix>
                <customFields>{"service":"${SERVICE_NAME}","service_version":"${SERVICE_VERSION}"}</customFields>
                <includeStructuredArguments>true</includeStructuredArguments>
                <includeKeyValuePairs>true</includeKeyValuePairs>
                <includeMdc>true</includeMdc>
                <fieldNames>
                    <version>[ignore]</version>
                    <thread>[ignore]</thread>
                    <levelValue>[ignore]</levelValue>
                </fieldNames>
            </encoder>
        </appender>

        <appender name="DATA_PREPPER" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
            <ringBufferSize>8192</ringBufferSize>
            <appender-ref ref="DATA_PREPPER_HTTP"/>
        </appender>

        <root level="INFO">
            <appender-ref ref="LOCAL_CONSOLE"/>
            <appender-ref ref="DATA_PREPPER"/>
        </root>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
        <logger name="org.hibernate.orm.jdbc.error" level="ERROR"/>
        <logger name="com.zaxxer.hikari" level="WARN"/>
        <logger name="com.jcondotta" level="INFO"/>
    </springProfile>

    <springProfile name="!local">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"service":"${SERVICE_NAME}","service_version":"${SERVICE_VERSION}"}</customFields>
                <includeStructuredArguments>true</includeStructuredArguments>
                <includeKeyValuePairs>true</includeKeyValuePairs>
                <includeMdc>true</includeMdc>
                <fieldNames>
                    <version>[ignore]</version>
                    <thread>[ignore]</thread>
                    <levelValue>[ignore]</levelValue>
                </fieldNames>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
        <logger name="org.hibernate.orm.jdbc.error" level="ERROR"/>
        <logger name="com.zaxxer.hikari" level="WARN"/>
        <logger name="com.jcondotta" level="INFO"/>
    </springProfile>

</configuration>
